@model Wondertree.Models.Dashboard

@{
    ViewData["Title"] = "DashboardView";
}

<h2>DashboardView</h2>

    <div class="container">
         @Html.Partial("_chart", Model.DataPoints)
   </div>
    <div class="container">
        @Html.Partial("_user", Model.User)
    </div>
    <div class="container">
        @Html.Partial("_status", Model.Status)
    </div>
